@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
$background: #e2b31a;
$bg_image: url("../images/port.jpg");
$font:'Rubik Mono One', sans-serif;
$font_color:white;
$color1:yellow;
$color2:orange;
$color3:black;