
#infoBox {
    width: 100%;
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
  }
  #bars {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
  }
  @media screen and (max-width: 400px) {
    #infoBox {
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      width: 105%;
    }
  
    #bars {
      margin-bottom: 15%;
    }}