#homeButton path:nth-child(2) {
  stroke-dasharray: 360.144775390625px;
  stroke-dashoffset: 360.144775390625px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(3) {
  stroke-dasharray: 338.30999755859375px;
  stroke-dashoffset: 338.30999755859375px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(4) {
  stroke-dasharray: 444.9608154296875px;
  stroke-dashoffset: 444.9608154296875px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(5) {
  stroke-dasharray: 357.504638671875px;
  stroke-dashoffset: 357.504638671875px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(6) {
  stroke-dasharray: 360.1452331542969px;
  stroke-dashoffset: 360.1452331542969px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(7) {
  stroke-dasharray: 245.489990234375px;
  stroke-dashoffset: 245.489990234375px;
  animation: line-anim 5s forwards ease;
}

#homeButton path:nth-child(8) {
  stroke-dasharray: 165.47998046875px;
  stroke-dashoffset: 165.47998046875px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(9) {
  stroke-dasharray: 357.5046081542969px;
  stroke-dashoffset: 357.5046081542969px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(10) {
  stroke-dasharray: 440.768798828125px;
  stroke-dashoffset: 440.768798828125px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(11) {
  stroke-dasharray: 463.54132080078125px;
  stroke-dashoffset: 463.54132080078125px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(12) {
  stroke-dasharray: 400.3614501953125px;
  stroke-dashoffset: 400.3614501953125px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(13) {
  stroke-dasharray: 357.5046691894531px;
  stroke-dashoffset: 357.5046691894531px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(14) {
  stroke-dasharray: 440.768798828125px;
  stroke-dashoffset: 440.768798828125px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(15) {
  stroke-dasharray: 216.719970703125px;
  stroke-dashoffset: 216.719970703125px;
  animation: line-anim 5s forwards ease;
}

#homeButton path:nth-child(16) {
  stroke-dasharray: 352.8387756347656px;
  stroke-dashoffset: 352.8387756347656px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(17) {
  stroke-dasharray: 440.75982666015625px;
  stroke-dashoffset: 440.75982666015625px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(18) {
  stroke-dasharray: 416.7721862792969px;
  stroke-dashoffset: 416.7721862792969px;
  animation: line-anim 5s forwards ease;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
