#homeButton path:nth-child(2) {
  stroke-dasharray: 137.19798278808594px;
  stroke-dashoffset: 137.19798278808594px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(3) {
  stroke-dasharray: 128.87997436523438px;
  stroke-dashoffset: 128.87997436523438px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(4) {
  stroke-dasharray: 169.50872802734375px;
  stroke-dashoffset: 169.50872802734375px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(5) {
  stroke-dasharray: 136.19219970703125px;
  stroke-dashoffset: 136.19219970703125px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(6) {
  stroke-dasharray: 137.19863891601562px;
  stroke-dashoffset: 137.19863891601562px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(7) {
  stroke-dasharray: 93.51997375488281px;
  stroke-dashoffset: 93.51997375488281px;
  animation: line-anim 5s forwards ease;
}

#homeButton path:nth-child(8) {
  stroke-dasharray: 63.03997802734375px;
  stroke-dashoffset: 63.03997802734375px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(9) {
  stroke-dasharray: 136.19223022460938px;
  stroke-dashoffset: 136.19223022460938px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(10) {
  stroke-dasharray: 167.911865234375px;
  stroke-dashoffset: 167.911865234375px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(11) {
  stroke-dasharray: 176.58741760253906px;
  stroke-dashoffset: 176.58741760253906px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(12) {
  stroke-dasharray: 152.51821899414062px;
  stroke-dashoffset: 152.51821899414062px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(13) {
  stroke-dasharray: 136.19224548339844px;
  stroke-dashoffset: 136.19224548339844px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(14) {
  stroke-dasharray: 167.91183471679688px;
  stroke-dashoffset: 167.91183471679688px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(15) {
  stroke-dasharray: 82.55996704101562px;
  stroke-dashoffset: 82.55996704101562px;
  animation: line-anim 5s forwards ease;
}

#homeButton path:nth-child(16) {
  stroke-dasharray: 134.4147186279297px;
  stroke-dashoffset: 134.4147186279297px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(17) {
  stroke-dasharray: 167.91183471679688px;
  stroke-dashoffset: 167.91183471679688px;
  animation: line-anim 5s forwards ease;
}
#homeButton path:nth-child(18) {
  stroke-dasharray: 158.771240234375px;
  stroke-dashoffset: 158.771240234375px;
  animation: line-anim 5s forwards ease;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0%;
  }
}
